img{
  width: 300px;

}
#walrus-showing {
  display: none;
}

.clickable1 {
  cursor: pointer;
  color: #0088cc;
}

.clickable1:hover {
  text-decoration: underline;
}

.clickable2 {
  cursor: pointer;
  color: #0088cc;
}

.clickable2:hover {
  text-decoration: underline;
}

.dark{
  background-color: black;
  color:white;
}
.light{
  background-color: white;
  color: black;
}
.dark-background {
  background-color: black;
  color:white;
}
.light-background {
  background-color: white;
  color:black;
}
